{% extends 'forca/base.html' %}

{% block content %}
<div class="container mt-4">
  <h1 class="mb-4 text-center">Vamos jogar!</h1>

  <form method="get" class="d-flex mb-4 justify-content-center">
    <input
      type="text"
      name="q"
      class="form-control w-50 me-2"
      placeholder="Pesquisar por tema ou professor"
      value="{{ q }}"
    />
    <button type="submit" class="btn btn-primary me-2">Buscar</button>
    <a href="{% url 'home' %}" class="btn btn-secondary">Limpar</a>
  </form>

  <div class="row">
    {% for tema in temas %}
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm h-100">
          <div class="card-body">
            <h5 class="card-title">{{ tema.nome }}</h5>
            <p class="card-text text-muted">
              Professor: {{ tema.criado_por.username }}
            </p>
              <a href="{% url 'jogar-por-tema' pk=tema.pk %}" class="btn btn-primary">Jogar</a>
          </div>
        </div>
      </div>
    {% empty %}
      <div class="col-12">
        <p class="text-center text-muted">Nenhum tema encontrado.</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
