{% extends 'forca/base.html' %}

{% block title %}Temas do Professor {{ professor.username }}{% endblock %}

{% block content %}
<div class="container mt-4">
  <h2>Temas do professor {{ professor.username }}</h2>
  <ul class="list-group">
    {% for tema in temas %}
    <li class="list-group-item">
      <a href="{% url 'jogar-tema' tema.pk %}">{{ tema.nome }}</a>
    </li>
    {% empty %}
    <li class="list-group-item">Este professor não cadastrou temas.</li>
    {% endfor %}
  </ul>
  <a href="{% url 'professor_list' %}" class="btn btn-secondary mt-3">Voltar</a>
</div>
{% endblock %}
